<p id="notice"><%= notice %></p>

<p>
  <b>Module:</b>
  <%= @gui_dialog.module %>
</p>

<p>
  <b>Title jp:</b>
  <%= @gui_dialog.title_jp %>
</p>

<p>
  <b>Title en:</b>
  <%= @gui_dialog.title_en %>
</p>


<%= link_to 'Edit', edit_gui_dialog_path(@gui_dialog) %> |
<%= link_to 'Back', gui_dialogs_path %>
